*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

#site-header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-header img {
    width: 50px;
    margin-right: 20px;
}


#site-header div {
    display: flex;
    align-items: center;
}

#site-header nav ul {
    display: flex;
}

#site-header nav ul a {
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
}

#site-main{
    padding: 50px 0;
    background-color: white;
    margin: 45px 0;
}

#site-main h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#site-main h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}

#site-main section {
    margin-bottom: 50px;
    background-color: #ecadad;
    color: white;
    padding: 50px;
}

    #site-footer {
        background-color: white;
        color: black;
        padding: 20px;
        text-align: center;
    }