* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
div.contenedor {
    text-align: center;
    padding: 50px 20px;
}

.contenedor * {
    margin: 5px 15px;
}

.contenedor button {
    padding: 0 25px;
    color: white;
    font-size: 2rem;
    background-color: bisque;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px palevioletred;
}

.contenedor button:hover {
    cursor: pointer;
}

.contenedor button:active {
    box-shadow: none;
    transform: translatey(2px)
}

#comleto {
    opacity: 0;
}
