* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(235, 211, 215);
}

nav {
    background-color: rgb(57, 53, 53);
}

#site-header nav a {
    color: pink;
    display: block;
    padding: 30px;
}

#site-header nav a>i {
    color: black;
    margin-left: 10px;
}

#site-header nav a:hover {
    background-color: rgb(63, 60, 60);
    color: deeppink;
}

#site-header div .fa-bars {
    border: 1px solid deeppink;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: deeppink;
    cursor: pointer;
}

#site-nav ul li ul {
    display: none;
}

#site-nav ul li:hover ul {
    display: block;
}

#site-header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;

}

#site-header div a {
    font-size: 1.2rem;
    color: rgb(63, 60, 60);
    font-weight: bold;
}

#site-header div span {
    font-size: 2rem;
    color: deeppink;
}

@media (min-width:1024px) {
    #site-header .fa-bars {
        display: none;
    }

    #site-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    #site-nav {
        background-color: inherit;
    }

    #site-header nav a {
        color: grey;
    }

    #site-header nav ul {
        display: flex;
    }

    #site-header nav a:hover {
        background-color: inherit;
    }

    #site-header ul li ul {
        background-color: #5c5c5c;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
    }

    #site-header #site-nav ul>li:hover>ul{
        display: flex;
        top: 100%;
    }


}