#site-header nav ul>li>ul a {
    border: 2px solid white;
}

#site-header nav ul>li>ul {
    display: none;
}

#site-header nav>li:nth-child(3) {
    display: block;
}

@media (min-width:1024px) {
    #site-header nav>ul {
        display: flex;
        justify-content: center;
        position: relative;
    }

    #site-header nav ul>li:nth-child(3):hover>ul {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        display: flex;
        padding: 20px 0;
    }

    #site-header nav ul>li:nth-child(3):hover>ul>li>ul {
        display: block;
    }
}